@model Lab2.Models.Leidejas

@{
    ViewBag.Title = "Delete";
}

<h2>Leidejo salinimas</h2>

<h3>Ar tikrai norite pasalinti si leideja?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_LEIDEJAS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_LEIDEJAS)
        </dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pavadinimas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pavadinimas)
        </dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ikurimo_metai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ikurimo_metai)
        </dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.valstybe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valstybe)
        </dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.bustine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bustine)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipas)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Šalinti" class="btn btn-danger" />
            @Html.ActionLink("Atgal i sarasa", "Index", "komanda1", new { @class = "btn btn-default" })
        </div>
    }
</div>