@model Lab2.ViewModels.KomandaEditViewModel

@{
    ViewBag.Title = "Nauja komanda";
    var psl_k_count = 0;
}

<h2>Nauja komanda</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();

    <fieldset>
        <legend>Komandos informacija</legend>
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @* Pavadinimo laukelis *@
            <div class="form-group">
                @Html.LabelFor(model => model.pavadinimas, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.pavadinimas, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.pavadinimas, "", new { @class = "text-danger" })
                </div>
            </div>

            @* ikurimo metu *@
            <div class="form-group">
                @Html.LabelFor(model => model.ikurimo_metai, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ikurimo_metai, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ikurimo_metai, "", new { @class = "text-danger" })
                </div>
            </div>

            @* valstybe *@
            <div class="form-group">
                @Html.LabelFor(model => model.valstybe, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.valstybe, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.valstybe, "", new { @class = "text-danger" })
                </div>
            </div>


            @* savininkas *@
            <div class="form-group">
                @Html.LabelFor(model => model.savininkas, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.EditorFor(model => model.fk_modelis, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.DropDownListFor(model => model.savininkas, Model.SavininkaiList, "--------------", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.savininkas, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Išsaugoti" class="btn btn-success" />
                </div>
            </div>
        </div>
    </fieldset>

    if (Model.treniruojaList != null)
    {
        psl_k_count = Model.treniruojaList.Count;
    }
    else
    {
        psl_k_count = 0;
    }

    <fieldset>
        <legend>Kuriami treneriai</legend>

        <table class="table table-responsive" id="laidos_tbl">
            <thead>
                <tr>
                    <th>Treneris</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{for (int i = 0; i < Model.treniruojaList.Count; i++)
                    {
                        <tr>
                            <td>
                                <span class="text-hide sel_element" style="display: none;">@Model.treniruojaList[i].fk_TRENERISid_TRENERIS</span>
                                @Html.DropDownListFor(model => model.treniruojaList[i].fk_TRENERISid_TRENERIS, Model.TrenerisList, new { @class = "form-control" })
                            </td>
                            <td><button type="button" class="btn btn-danger" onclick="salinti(this);">šalinti</button></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <input type="hidden" disabled value="@psl_k_count" id="hCount" />
        <button type="button" id="prideti" class="btn btn-info pull-right" onclick="uzsakyti($('#hCount').val());">
            <i class="glyphicon-plus-sign"></i>
            Pridėti
        </button>
    </fieldset>

}

<div>
    @Html.ActionLink("Atgal į sąrašą »",  "Index", "komanda1", new { @class = "btn btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

    function uzsakyti(sk) {
            var tmp_row = `
                   <tr>
                            <td>
                                <span class="text-hide sel_element"></span>
                                @Html.DropDownList("treniruojaList[0].fk_TRENERISid_TRENERIS", Model.TrenerisList, "--------------", new { @class = "form-control" })
                            </td>
                            <td><button type="button" class="btn btn-danger" onclick="salinti(this);">šalinti</button></td>
                        </tr>`;

            var new_tmp_row = tmp_row.replace(/\[(0)\]/g, "[" + sk + "]");

            $("#laidos_tbl tr:last").after(new_tmp_row);

            $('#hCount').val(Number($('#hCount').val()) + 1);

        }

        function salinti(btn) {
            $(btn).closest('tr').remove();

            //// Perskaiciuot indeksus
            var cnt = 0;

            $("#laidos_tbl tbody tr").each(function () {
                var tmp_row = "<tr>" + $(this).html() + "</tr>";
                var new_tmp_row = tmp_row.replace(/\[(.)\]/g, "[" + cnt + "]");
                new_tmp_row = new_tmp_row.replace(/\_(.)\_/g, "_" + cnt + "_");
                $(this).replaceWith(new_tmp_row);
                cnt = cnt + 1;
            });

            $('#hCount').val(cnt);

            $(".sel_element").each(function () {
                $(this).closest("td").find("select").val($(this).text());
            });
        }

    </script>
}